@font-face {
    font-family: 'KumbhSans-Regular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: 'KumbhSans-Bold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf');
}

:root {
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* with 75% opacity for lightbox background */
}

/* Utility Classes */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.pline-1 {
    padding-inline: 1em;
}

.pblock-1 {
    padding-block: 1em;
}

.pbottom-1 {
    padding-bottom: 1em;
}

.pall-1 {
    padding: 1em;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.hide {
    display: none;
}

.bold {
    font-family: 'KumbhSans-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.clr-orange {
    color: var(--orange);
}

/* Typography */
.nav a {
    font-family: 'KumbhSans-Bold', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    text-decoration: none;
}

/* Layout */
.container {
    max-width: 576px;
    width: 95%;
    margin: 0 auto;
}

.nav .container {
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-options {
    gap: 1em;
}

.nav-links {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.nav-list {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    list-style-type: none;
    padding: 1em 0 0 2em;
}

.ham-close {
    margin-bottom: 3em;
}

.user {
    width: 30px;
}

@media (min-width: 768px) {
    .container {
        max-width: clamp(768px, 100%, 1024px);
    }

    .nav a {
        color: var(--grayish-blue);
        font-family: 'KumbhSans-Regular', Verdana, Geneva, Tahoma, sans-serif;
    }

    .nav-links {
        position: relative;
        display: unset;
        background-color: var(--white);
        margin-left: 2em;
    }

    .nav-list {
        display: flex;
        gap: 1em;
    }

    .ham-close {
        display: none;
    }

    .ham-icon {
        display: none;
    }
}

/* 
x-small < 576px
Small >= 576px
Medium >= 768px
Large >= 992px
x-large >= 1200px
xx-large >= 1400px

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

*/
