@font-face {
    font-family: 'KumbhSans-Regular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: 'KumbhSans-Bold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf');
}

:root {
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* with 75% opacity for lightbox background */
}

button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

/* Utility Classes */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.pline-1 {
    padding-inline: 1em;
}

.pblock-1 {
    padding-block: 1em;
}

.pbottom-1 {
    padding-bottom: 1em;
}

.pall-1 {
    padding: 1em;
}

.center-all {
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.hide {
    display: none;
}

.bold {
    font-family: 'KumbhSans-Bold', Verdana, Geneva, Tahoma, sans-serif;
}

.clr-orange {
    color: var(--orange);
}

.clr-black {
    color: var(--black);
}

.clr-gray {
    color: var(--dark-grayish-blue);
}

.clr-light-gray {
    color: var(--grayish-blue);
}

/* Typography */
.nav a {
    font-family: 'KumbhSans-Bold', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black);
    text-decoration: none;
}

/* Layout */
.product-page-wrapper,
.container {
    max-width: 576px;
    margin: 0 auto;
    position: relative;
}

.container {
    width: 95%;
}

.nav .container {
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-options {
    gap: 1em;
}

.nav-links {
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.nav-list {
    background-color: var(--light-grayish-blue);
    width: 60%;
    height: 100%;
    list-style-type: none;
    padding: 1em 0 0 2em;
}

.ham-close {
    margin-bottom: 3em;
}

.user,
.cart-icon {
    width: 40px;
}

.user:hover {
    outline: 2px solid var(--orange);
    border-radius: 50%;
}

.gallery-img {
    position: relative;
}

.btn {
    position: absolute;
    bottom: 50%;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.btn img {
    padding: 0.75em;
}

.btn-prev {
    margin-left: 1em;
}

.btn-next {
    right: 0;
    margin-right: 1em;
}

.title {
    padding-bottom: 0.5em;
}

.price-wrapper {
    align-items: center;
}

.discount {
    margin-left: 1em;
    background-color: var(--pale-orange);
    padding: 0 0.5em;
    border-radius: 7px;
}

.input-wrapper,
.add-to-cart-btn {
    border-radius: 10px;
    padding-block: 0.75em;
}

.price {
    margin-left: auto;
    text-decoration: line-through;
}

.input-wrapper {
    background-color: var(--light-grayish-blue);
    padding-inline: 1em;
    margin-bottom: 1em;

    grid-template-columns: repeat(3, minmax(20px, 1fr));
}

.input-wrapper input {
    text-align: center;
    border: none;
    background-color: transparent;
}

input[type='number'] {
    appearance: textfield;
}

.input-wrapper input::-webkit-outer-spin-button,
.input-wrapper input::-webkit-inner-spin-button {
    display: none;
}

.add-to-cart-btn:hover,
.minus:hover,
.plus:hover,
.add-to-cart-btn:focus-visible,
.minus:focus-visible,
.plus:focus-visible {
    opacity: 0.5;
}

.plus {
    margin-left: auto;
}

.add-to-cart-btn {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    gap: 1em;
}

.cart-icon {
    position: relative;
    padding: 0.5em;
}

.icon-number {
    color: var(--white);
    font-size: 0.6rem;
    background-color: var(--orange);
    padding: 0 0.6em;
    border-radius: 40%;

    position: absolute;
    top: 0;
    right: 0;
}

.cart-basket {
    position: absolute;
    inset: 1% 1% 0;
    z-index: 1;
    background-color: var(--white);
    height: 15em;
    box-shadow: 3px 3px 10px 3px hsla(0, 0%, 0%, 0.3);

    border-radius: 7px;
    padding: 1em;
}

.cart-basket h4 {
    margin-bottom: 1em;
}

.cart-basket hr {
    color: var(--white);
    opacity: 0.2;
    margin-inline: -1em;
}

.basket-item {
    grid-template-columns: 50px auto 50px;

    align-items: center;
    gap: 1em;

    padding-block: 1em;
}

.cart-details,
.empty {
    height: 100%;
    max-height: 10em;
}

.detail-text {
    justify-self: center;
}

.detail-img img {
    border-radius: 7px;
}

.checkout-btn {
    width: 100%;
}

.prod-box {
    grid-template-columns: 150px 1fr;
    gap: 1em;
}

.prod-box hr {
    grid-column: span 2;
    margin-inline: 1em;
}

.box-desc {
    flex-direction: column;
}

.box-img img,
.box-btn {
    border-radius: 7px;
}

.box-btn {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    padding: 0.5em 1em;
    align-self: flex-end;
    margin-top: auto;
}

@media (min-width: 400px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .product-page-wrapper,
    .container {
        max-width: clamp(768px, 100%, 1024px);
        width: 95%;
    }

    .nav .container {
        border-bottom: 1px solid var(--grayish-blue);
        padding-bottom: 1em;
    }

    .nav a {
        color: var(--dark-grayish-blue);
        font-family: 'KumbhSans-Regular', Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 1.9em;
    }

    .nav a:hover {
        border-bottom: 5px solid var(--orange);
        color: var(--black);
    }

    .nav-links {
        position: relative;
        display: unset;
        background-color: var(--light-grayish-blue);
        margin-left: 1.5em;
    }

    .nav-list {
        display: flex;
        gap: 1em;
    }

    .btn-wrapper,
    .ham-icon,
    .ham-close {
        display: none;
    }

    .product-page {
        grid-template-columns: 370px 1fr;
        gap: 1em;
    }

    .product-desc {
        display: grid;
        place-items: center;
    }

    .price-wrapper {
        display: block;
    }

    .discounted-price {
        display: inline-block;
        padding-bottom: 0.5em;
    }

    .gallery-thumbs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .gallery-thumbs .active {
        border: 2px solid var(--orange);
        opacity: 0.5;
    }

    .thumb-wrapper:hover,
    .thumb-wrapper:focus-visible {
        opacity: 0.5;
        outline: none;
    }

    .gallery-img img,
    .thumb-wrapper,
    .thumb-wrapper img {
        border-radius: 10px;
    }

    .add-to-cart-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .input-wrapper {
        justify-content: space-between;
        margin: 0;
    }

    .cart-basket {
        inset: -5% 0 0 auto;
        max-width: 375px;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2.3rem;
    }

    .product-page {
        grid-template-columns: 450px 1fr;
        gap: 2em;
    }
}
